.chart-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: "left";
  padding: 0 8px;
  height: 40px;
  padding-left: 16px;
}

.smoothing-ma-settings {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

.select {
  border: none;
  outline: none;
  background-color: transparent;
}

.settings-icon {
  width: 22px;
  opacity: 63%;
  padding-right: 5px;
  margin-left: 7px;
}
