.App {
  text-align: center;
  height: 100%;
  max-width: 475px;
  margin: auto;
  overflow: hidden;
}

.Home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
