:root {
  --gap: 3.8vw;
}

.workout {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--gap);
}

.two-button-row {
  display: flex;
  justify-content: center;
  gap: var(--gap);
}

.below-slider {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: 0 11.7vw 3.3vw 11.7vw;
}

.button1 {
  aspect-ratio: 1;
}

.button10or50 {
  flex-grow: 1;
}

.plus-minus-slider {
  display: flex;
  align-items: center;
  gap: 5.8vw;
  margin: 0 7.5vw;
}
